*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(193, 214, 193);
    animation: anim 5s;
   
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.box-1{
    width: 70px;
    height: 50px;
    background-color: black;
    border: 1px solid red;
    animation: move 4s;
    
}
@keyframes move{
    0%{
       transform: translate(44%,33%);
       background-color: white;
    }
    20%{
        transform: translate(400px,400px);
        background-color: brown;
    }
    40%{
        transform: translate(54px,63px);
        background-color: red;
    }
    80%{
        transform: translate(100px,200px);
        background-color: lawngreen;
    }
    100%{
        transform: translate(100px,450px);
        background-color:rgb(243, 255, 220);
    }
}
@keyframes anim {
   0%{
    background-color: green;
   }
   20%{
    background-color:orange;
   }
   40%{
    background-color: yellow;
   }
   60%{
    background-color: skyblue;
   }
   90%{
    background-color: purple;
   }
}

.hero{
    width: 80%;
    height: 500px;
    margin: 50px auto;
  position:relative;
    margin: 100px auto;
    overflow: hidden;
}
.btn-box{
    display: flex;
    border-bottom: 1px solid #aaa4a4;
 
    
}
.btn-box button{
    background: transparent;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    
}
.content{
    display: flex;
    justify-content: space-between;
    transform: translateX(100%);
    position: absolute;
    padding: 30px;
}
#content1{
    transform: translateX(0px);
}
.content a{
    text-decoration: none;
    background-color: rgb(253, 185, 59);
    color: white;
    font-weight: 800;
    border-radius: 20px;
    padding: 10px;
}
.content a:hover{
background-color: rgb(4, 43, 56);
}
.content .left{
    
    text-align: left;
    margin: 50px;
}

.content .right img{
    width: 190px;
}
#btn1{
    color: orange;
}